.body{
    margin: 0px;
    padding: 0px;
    background-color: #eeb67a;
    box-sizing: border-box;
}

.save{
    min-width: 30px;
    min-height: 60px;
    background-color: blanchedalmond;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    margin-bottom: 220px;
    
}
.main{
    margin-left: 341px;
    
    
}
.save ul li{
    display:inline-block;
    text-decoration: none;
    position: relative;
    word-spacing: 5px;
    padding: 15px;
  
}

.main li{
    font-family: Bahnschrift SemiBold;
}

.main li:hover{
    text-decoration: underline double;
    text-shadow: #7D2E3A;
    cursor:pointer;
    color: rgb(11, 11, 88);
}

.save img{
    width:111px;
    height: 84px;
    margin-left: 8px;
}

.buttona{
    width: 70px;
    height: 27px;
    margin-right: 15px;
    margin-left: 80px;
    box-shadow: 10px 10px 5px #3E3623;
    border-radius: 20px;

}

.buttonb{
    width: 70px;
    height: 27px;
    box-shadow: 10px 10px 5px #3E3623;
    border-radius: 20px;
}

.nrml{
    min-width: 30px;
    min-height: 60px;
    background-color: transparent;
    margin-top: 390px;
    
}

.nrml img{
    width: 243px;
    height: 150px;
    display: inline-block;
   

}
.box{
    display: inline-flex;
    
  
}
.one{
    margin-left: 99px;
    border-top-left-radius: 33px;
    border-bottom-right-radius: 33px;
}
.two{
    margin-left: 68px;
    border-top-left-radius: 33px;
    border-bottom-right-radius: 33px;
    
}

.west{
    margin-left: 70px;
    border-top-left-radius: 33px;
    border-bottom-right-radius: 33px;
}

.ftrd{
    margin-left: 55px;
    border-top-left-radius: 33px;
    border-bottom-right-radius: 33px;
}
.works{
    color: rgb(3, 3, 92);
    font-size: 40px;
    font-family: Forte;
    margin: 399px;
    cursor: pointer;
    text-shadow: 5px 5px 10px rgb(12, 1, 1);
    
}